<div class='container'>
  <% @films.each do |film| %>
  <div class="card mb-3">
    <%= image_tag "#{film.image}", class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to film.title, film_path(film) %></h5>
      <p class="card-text"><%= truncate(film.description, length: 100 ) %></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <% end %>
</div>